/* utilites */

body {
  background-color: #e5e5e5;
}

.text-gap {
  margin-right: 15px;
}

/* input fileds styles  */
.input-header {
  font-size: 15px;
  margin-right: 20px;
}

.btn-alignment {
  margin-left: 200px;
}

@media only screen and (max-width: 688px) {
  .btn-alignment {
    margin-left: 90px;
  }
}
